<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>大眼网页版</title>
    <link rel="stylesheet" href="css/a.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/lighthouse.js"></script>
    <script src="js/shani.js"></script>
    <script src="js/a.js"></script>
    <script type="text/templage" id="categories-tpl">
      {% for _, category in categories %}
        <a class="category-item clr" data-id="{{ category.id }}" href="#/category/{{ category.id }}">
          <img class="category-cover" src="{{ category.cover }}">
          <span class="category-name">{{ category.name }}</span>
        </a>
      {% end %}
    </script>
    <script type="text/templage" id="category-detail-tpl">
      {% for _, group in groups %}
        <div class="group-item clr">
          <a class="group-meta-wrapper" href="#/group/{{ group.guid }}">
            <div class="group-cover">
              <img src="{{ group.cover }}">
            </div>
            <div class="group-meta">
              <div class="group-name">{{ group.name }}</div>
              <div class="group-desc">{{ group.description }}</div>
            </div>
          </a>
          <a data-id="{{ group.guid }}" class="group-follow {% if group.followed %}followed{% end %}" href="javascript:;">{% if group.followed %}取消订阅{% else %}订阅{% end %}</a>
        </div>
      {% end %}
    </script>
    <script type="text/templage" id="group-header-tpl">
      <div class="group-header">
        <div class="group-cover">
          <img src="{{ cover }}">
        </div>
        <div class="group-name">{{ name }}</div>
        <div class="group-desc">{{ description }}</div>
        <a data-id="{{ guid }}" class="group-follow {% if followed %}followed{% end %}" href="javascript:;">{% if followed %}取消订阅{% else %}订阅{% end %}</a>
      </div>
    </script>
    <script type="text/template" id="post-list-tpl">
      {% for _, post in posts %}
      <div class="post-item clr" data-id="{{ post.guid }}" data-time="{{ post.publish_time }}">
        {% if post.recommend === 1 %}
        <span class="recommend">荐</span>
        {% end %}
        <div class="fl {% if post.image %}hasimg{% end %}">
          <a class="post-title" target="_blank" href="{{ post.url }}">
            {{ post.title }}
          </a>
          <a data-id="{{ post.blog_guid }}" class="blog-name" target="_blank" href="{{ post.url }}">{{ post.blog_name }}</a>
          <a class="post-summary" target="_blank" href="{{ post.url }}">
            {{ post.summary }}
          </a>
        </div>
        {% if post.image %}
        <div class="fr">
          <a class="post-image" target="_blank" href="{{ post.url }}">
            <img src="{{ post.image }}">
          </a>
        </div>
        {% end %}
      </div>
      {% end %}
    </script>
  </head>
  <body>
    <div id="main">
      <nav id="nav" class="clr">
        <a class="home" href="#">首页</a>
        <a class="explore" href="#/categories/">发现</a>
      </nav>
      <div id="header"></div>
      <div id="post-list">
      </div>
      <a id="next-page" class="dn" href="javascript:;">下一页</a>
    </div>
  </body>
</html>
