<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <title>大眼网页版</title>
    <link rel="stylesheet" href="css/a.css">
    <script src="js/jquery.min.js"></script>
    <script src="js/lighthouse.js"></script>
    <script src="js/shani.js"></script>
    <script src="js/a.js"></script>
    <script type="text/templage" id="me-header-tpl">
      <div class="dy-header me-header">
        <div class="dy-avatar me-avatar">
          <img src="{{ avatar }}">
        </div>
        <div class="dy-name me-name">{{ name }}</div>
        <ul class="dy-nav me-nav clr">
          <li class="me-collect">
            <a href="#/follows/?follow_type=Post">收藏</a>
          </li>
          <li class="me-source">
            <a href="#/follows/?follow_type=Blog">内容源</a>
          </li>
        </ul>
      </div>
    </script>
    <script type="text/templage" id="account-header-tpl">
      <div class="dy-header account-header">
        <ul class="dy-nav clr">
          <li class="account-login">
            <a href="#/login/">登录</a>
          </li>
          <li class="account-register">
            <a href="#/register/">注册</a>
          </li>
        </ul>
      </div>
    </script>
    <script type="text/templage" id="explore-header-tpl">
      <div class="dy-header explore-header">
        <ul class="dy-nav clr">
          <li class="explore-star">
            <a href="#/recommend/blogs/">精选</a>
          </li>
          <li class="explore-cate">
            <a href="#/category/list/">分类</a>
          </li>
        </ul>
      </div>
    </script>
    <script type="text/templage" id="register-tpl">
      <form class="register-form" action="/api/login/">
        <div class="form-field">
          <label for="email"></label>
          <input class="ipt email" type="email" name="user[email]" placeholder="轻按输入邮箱地址">
        </div>
        <div class="form-field">
          <label for="password"></label>
          <input class="ipt password" type="password" name="user[password]" placeholder="轻按输入密码">
        </div>
        <div class="form-field">
          <label for="name"></label>
          <input class="ipt name" type="text" name="user[name]" placeholder="轻按输入昵称">
        </div>
        <div class="form-action">
          <button class="btn register">注册</button>
        </div>
      </form>
    </script>
    <script type="text/templage" id="login-tpl">
      <form class="login-form" action="/api/login/">
        <div class="form-field">
          <label for="email"></label>
          <input class="ipt" type="email" name="email" placeholder="轻按输入邮箱地址">
        </div>
        <div class="form-field">
          <label for="password"></label>
          <input class="ipt" type="password" name="password" placeholder="轻按输入密码">
        </div>
        <div class="form-action">
          <button class="btn login">登录</button>
        </div>
      </form>
    </script>
    <script type="text/templage" id="category-list-tpl">
      {% for _, category in categories %}
        <a class="category-item clr" data-id="{{ category.id }}" href="#/category/{{ category.id }}">
          <img class="category-cover" src="{{ category.cover }}">
          <span class="category-name">{{ category.name }}</span>
        </a>
      {% end %}
    </script>
    <script type="text/templage" id="blog-list-tpl">
      {% for _, blog in blogs %}
        <div class="blog-item clr">
          <a class="blog-meta-wrapper" href="#/blog/{{ blog.guid }}">
            <div class="blog-cover">
              <img src="{{ blog.cover }}">
            </div>
            <div class="blog-meta">
              <div class="blog-name">{{ blog.name }}</div>
              <div class="blog-desc">{{ blog.description }}</div>
            </div>
          </a>
          <a data-id="{{ blog.guid }}" class="blog-follow {% if blog.followed %}followed{% end %}" href="javascript:;">{% if blog.followed %}取消订阅{% else %}订阅{% end %}</a>
        </div>
      {% end %}
    </script>
    <script type="text/templage" id="blog-header-tpl">
      <div class="blog-header">
        <div class="blog-cover">
          <img src="{{ cover }}">
        </div>
        <div class="blog-name">{{ name }}</div>
        <div class="blog-desc">{{ description }}</div>
        <a data-id="{{ guid }}" class="blog-follow {% if followed %}followed{% end %}" href="javascript:;">{% if followed %}取消订阅{% else %}订阅{% end %}</a>
      </div>
    </script>
    <script type="text/template" id="post-list-tpl">
      {% for _, post in posts %}
      <div class="post-item clr" data-id="{{ post.guid }}" data-time="{{ post.publish_time }}">
        {% if post.recommend === 1 %}
        <span class="recommend">荐</span>
        {% end %}
        <div class="fl {% if post.image %}hasimg{% end %}">
          <a class="post-title" href="#/post/{{ encodeURIComponent(post.url) }}">
            {{ post.title }}
          </a>
          <a data-id="{{ post.blog_guid }}" class="post-blog-name" target="_blank" href="{{ post.url }}">{{ post.blog_name }}</a>
          <a class="post-summary" target="_blank" href="{{ post.url }}">
            {{ post.summary }}
          </a>
        </div>
        {% if post.image %}
        <div class="fr">
          <a class="post-image" target="_blank" href="{{ post.url }}">
            <img src="{{ post.image }}">
          </a>
        </div>
        {% end %}
      </div>
      {% end %}
    </script>
  </head>
  <body>
    <div id="main">
      <ul id="nav" class="clr">
        <li class="home">
          <a href="#/">首页</a>
        </li>
        <li class="explore">
          <a href="#/recommend/blogs/">发现</a>
        </li>
        <li class="me">
          <a href="#/follows/?follow_type=Post">我</a>
        </li>
      </ul>
      <div id="header"></div>
      <div id="container"></div>
      <a id="next-page" class="dn" href="javascript:;">下一页</a>
    </div>
  </body>
</html>
