html,
body {
  min-height: 101%;
}
body {
  font-size: 14px;
  line-height: 1.8;
  margin-top: 0;
}
a {
  display: block;
  text-decoration: none;
}
.dn {
  display: none;
}
.clr,
.clearfix {
  *zoom: 1;
}

.clr:before,
.clr:after,
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clr:after,
.clearfix:after {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

#main {
  width: 720px;
  margin: 0 auto;
}
.post-item {
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid #ddd;
}
.post-title:link,
.post-title:hover {
  color: #000;
  font-size: 20px;
}
.post-title:visited {
  color: #888;
}
.post-summary:link,
.post-summary:hover {
  color: #2d2d2d;
}
.blog-name:link,
.blog-name:hover {
  color: blue;
}
.blog-name:visited,
.post-summary:visited {
  color: #999;
}
.post-image img {
  width: 240px;
}
.hasimg {
  width: 460px;
}
.recommend {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  line-height: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  background: rgb(42, 42, 255);
}
#next-page {
  padding: 10px 0;
}
#nav {
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}
.loading {
  text-align: center;
  color: #999;
}
.pending {
  color: #999;
}
.group-header {
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
.group-cover img {
  width: 80px;
  border-radius: 50%;
}
.group-name {
  font-size: 20px;
}
.group-desc {
  color: #666;
}
.group-follow {
  display: inline-block;
  padding: 4px 8px;
}
.group-item {
  height: 60px;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.group-item .group-meta {
  float: left;
  width: 500px;
}
.group-item .group-cover {
  float: left;
  margin-right: 20px;
}
.group-item .group-cover img {
  width: 60px;
  vertical-align: middle;
}
.group-item .group-name {
  color: #333;
  height: 35px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.group-item .group-desc {
  height: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.group-item .group-follow {
  float: right;
  line-height: 60px;
}
.category-item {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}
.category-cover {
  width: 40px;
  vertical-align: middle;
  margin-right: 20px;
}
.category-name {
  color: #333;
}
.home {
  border-right: 1px solid #eee;
  margin-left: -1px;
}
.explore {
  margin-right: -1px;
}
.explore,
.home {
  text-align: center;
  width: 50%;
  float: left;
  line-height: 60px;
  font-size: 18px;
  color: #333;
}
@media screen and (max-width: 720px) {
  .explore,
  .home {
    line-height: 48px;
  }
  #main {
    width: auto;
  }
  .hasimg {
    width: auto;
  }
  .hasimg .post-summary {
    display: none;
  }
  .post-image img {
    width: 180px;
  }
  #next-page {
    text-align: center;
  }
  .group-item .group-meta {
    width: 360px;
  }
}
@media screen and (max-width: 500px) {
  .group-item .group-meta {
    width: 260px;
  }
}
