html,
body {
  min-height: 101%;
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  line-height: 1.8;
  color: #333;
}
ul, ol, li {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  display: block;
  text-decoration: none;
  color: #259;
}
.dn {
  display: none;
}
.clr,
.clearfix {
  *zoom: 1;
}

.clr:before,
.clr:after,
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.clr:after,
.clearfix:after {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

#main {
  width: 720px;
  margin: 0 auto;
}
.post-item {
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid #e8e8e8;
}
.post-title:link,
.post-title:hover {
  color: #333;
  font-size: 20px;
  word-break: break-word;
}
.post-title:visited {
  color: #888;
}
.post-summary:link,
.post-summary:hover {
  color: #2d2d2d;
  word-break: break-word;
}
.post-blog-name:link,
.post-blog-name:hover {
  color: #223ada;
}
.post-blog-name:visited,
.post-summary:visited {
  color: #999;
}
.post-image img {
  width: 240px;
}
.hasimg {
  width: 460px;
}
.recommend {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  line-height: 20px;
  height: 20px;
  width: 20px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  background: rgb(42, 42, 255);
}
#next-page {
  text-align: center;
  padding: 16px 0;
  color: #333;
  font-size: 16px;
}
#nav {
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 10px;
}
#nav a {
  color: #333;
}
.loading {
  text-align: center;
  color: #999;
}
.pending {
  color: #999;
}
.blog-header {
  padding: 20px 0;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 20px;
}
.blog-cover img {
  width: 80px;
  border-radius: 50%;
}
.blog-name {
  font-size: 20px;
}
.blog-desc {
  color: #666;
}
.blog-follow {
  display: inline-block;
  padding: 4px 8px;
}
.blog-item {
  height: 60px;
  padding: 20px 0;
  border-bottom: 1px solid #e8e8e8;
}
.blog-item .blog-meta {
  float: left;
  width: 500px;
}
.blog-item .blog-cover {
  float: left;
  margin-right: 20px;
}
.blog-item .blog-cover img {
  width: 60px;
  vertical-align: middle;
}
.blog-item .blog-name {
  color: #333;
  height: 35px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.blog-item .blog-desc {
  height: 25px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.blog-item .blog-follow {
  float: right;
  line-height: 60px;
}
.category-item {
  padding: 10px 0;
  border-bottom: 1px solid #e8e8e8;
}
.category-cover {
  width: 40px;
  vertical-align: middle;
  margin-right: 20px;
}
.category-name {
  color: #333;
}
.home {
  border-right: 1px solid #e8e8e8;
  margin-left: -1px;
}
.explore {
  border-right: 1px solid #e8e8e8;
  margin-right: -1px;
}
.me {
  margin-right: -1px;
}
.explore,
.home,
.me {
  position: relative;
  text-align: center;
  width: 33.3333333%;
  float: left;
  line-height: 60px;
  font-size: 18px;
}
.register-form,
.login-form {
  margin-top: 20px;
  text-align: center;
}
.form-field {
  margin-bottom: 20px;
}
.ipt {
  width: 500px;
  padding: 12px 14px;
  border: 1px solid #e8e8e8;
}
.btn {
  display: inline-block;
  box-shadow: inset 0 -4px 0 #2a6496;
  border: 0;
  color: #fff;
  padding: 13px 35px 17px;
  background-color: #3071a9;
  border-color: #285e8e;
  font-size: 18px;
  line-height: 1.33;
}
.btn:hover {
  cursor: pointer;
  background-color: #2768a0;
  border-color: #285e8e;
}
.dy-header {
  text-align: center;
}
.dy-avatar img {
  width: 80px;
  border-radius: 50%;
}
.dy-name {
  padding: 10px 0;
  color: #333;
}
.dy-nav {
  margin: 10px 0;
  border-bottom: 1px solid #e8e8e8;
}
.dy-nav a {
  color: #444;
}
.dy-nav li {
  float: left;
  position: relative;
  width: 50%;
  padding: 10px 0;
  margin-left: -1px;
}
.dy-nav li:last-child {
  margin-left: 0;
  margin-right: -1px;
}
.cur:after {
  position: absolute;
  bottom: -1px;
  left: 50%;
  margin-left: -8px;
  content: "";
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: #fff;
}
.cur a:after {
  position: absolute;
  bottom: 0px;
  left: 50%;
  margin-left: -8px;
  content: "";
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-bottom-color: #e8e8e8;
}
#article-title,
#article-title a:link,
#article-title a:visited {
  font-weight: normal;
  font-size: 20px;
  margin: 30px 0;
  color: #333;
}
#readability-content {
  font-size: 16px;
  color: #414243;
  padding-top: 1.25em;
  border-top: 1px solid #e8e8e8;
}
#readability-content p {
  display: block !important;
}
.outlink a {
  padding: 20px 0;
  color: #555;
  font-size: 16px;
  text-decoration: underline;
}
@media screen and (max-width: 720px) {
  .ipt {
    width: 300px;
  }
  .explore,
  .home,
  .me {
    line-height: 48px;
  }
  #main {
    width: auto;
  }
  .hasimg {
    width: auto;
  }
  .hasimg .post-summary {
    display: none;
  }
  .post-image img {
    width: 180px;
  }
  .blog-item .blog-meta {
    width: 340px;
  }
  .post-item,
  .blog-item,
  .category-item {
    padding-left: 10px;
    padding-right: 10px;
  }
  #readability-content {
    padding-left: .5em;
    padding-right: .5em;
  }
}
@media screen and (max-width: 500px) {
  .blog-item .blog-meta {
    width: 140px;
  }
  .ipt {
    width: 200px;
  }
  .post-item,
  .blog-item,
  .category-item {
    padding-left: 8px;
    padding-right: 8px;
  }
}
